body {
    padding-top: 5rem;
}



:root{
    --bg_primary:#15b8a7;
    --main_bg:#f3f4f6;
}

.main_bg{
    background-color:var(--main_bg);

}

.bg{
    background-color:var(--bg_primary);
}

#Outline{
    color:#fff;
}

.center{
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.btn_fix{
    position: relative;
    margin: 1em 0;
}

.section_inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr  1fr;
    margin: 2em 0;
}

.field_divs{
    margin:0.5em 0;
}

.field_divs p{
    font-weight:600;
}

.full_ww{
    min-width: 100%;
}

.container_create{
    max-width: 35em;
    background-color: #ffffff;
    padding: 1em;
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
    min-width: 28rem;
    position: relative;
    height: 24em;

}

.card_grid{
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    background-color: #ffffff;
    height: 100%;
    max-width:20em ;
    position: relative;

}
.text{
    padding:0.5em;
    height: 100%;
    width: 100%;
}

.card_grid img{
    width: 100%;
}

.btn_buy{
    text-decoration: none;
    padding:12px 24px;
    text-align: center;
    background-color: var(--bg_primary);
    width: 100%;
    position:absolute;
    bottom:0;
    color:#ffffff;




}

.grid h3{
    font-size: 16px;
    font-weight: 600;
}

.money{
    background-color: cornflowerblue;
    padding:12px 24px;
    border-radius: 30px;
    height: 10px;
    width:8em;
    display: flex;
    align-items: center;
    color:#fff;
}